/**
 * @author 
 */
.x-stackable {
  border-bottom: none;
}
.x-stackable .x-tabbable-item {
  float: none;
}
.x-stackable .x-tabbable-item a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #DDDDDD;
}
.x-stackable .x-tabbable-item:first-child a {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.x-stackable .x-tabbable-item:last-child a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.x-stackable .x-tabbable-item a:hover {
  border-color: #ddd;
  z-index: 2;
}
.x-tabbable-alt.x-stackable .x-tabbable-item a {
  border-color: transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.x-tabbable-alt.x-stackable .x-tabbable-item {
  margin-bottom: 3px;
}
.x-tabbable-alt.x-stackable .x-tabbable-item li:last-child {
  margin-bottom: 0;
}
