.x-grid-fluid {
  margin-top: 10px;
  *zoom: 1;
}
.x-grid-fluid:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.x-col {
  float: left;
  margin-left: 1.632653061%;
}
.x-container-fluid {
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.x-container-fluid:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.x-col-1 {
  width: 6.836734693%;
}
.x-col-2 {
  width: 15.306122447%;
}
.x-col-3 {
  width: 23.775510201000003%;
}
.x-col-4 {
  width: 32.244897955%;
}
.x-col-5 {
  width: 40.714285708999995%;
}
.x-col-6 {
  width: 49.183673463000005%;
}
.x-col-7 {
  width: 57.65306121700001%;
}
.x-col-8 {
  width: 66.12244897100001%;
}
.x-col-9 {
  width: 74.59183672500001%;
}
.x-col-10 {
  width: 83.061224479%;
}
.x-col-11 {
  width: 91.530612233%;
}
.x-col-12 {
  width: 99.99999998700001%;
}
.x-col-first,
.x-col:first-child {
  margin-left: 0;
}
