/**
 * @author  xuld
 */
body {
  overflow: hidden;
}
#header {
  background-color: #0d4a78;
  background-image: -moz-linear-gradient(top, #103e68, #085d91);
  background-image: -ms-linear-gradient(top, #103e68, #085d91);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#103e68), to(#085d91));
  background-image: -webkit-linear-gradient(top, #103e68, #085d91);
  background-image: -o-linear-gradient(top, #103e68, #085d91);
  background-image: linear-gradient(top, #103e68, #085d91);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#103e68', endColorstr='#085d91', GradientType=0);
  padding: 5px 5px 0;
  height: 60px;
}
#logo-container,
#tabs {
  height: 30px;
  overflow: hidden;
}
#logo-container h1 {
  margin: 0;
  line-height: 26px;
  font-size: 18px;
  color: #ffffff;
}
#toolbar {
  float: right;
}
#tab-container {
  height: 30px;
}
#tab-container li {
  float: left;
  height: 28px;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  background-color: #f1f7fb;
  background-image: -moz-linear-gradient(top, #ffffff, #dcebf4);
  background-image: -ms-linear-gradient(top, #ffffff, #dcebf4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#dcebf4));
  background-image: -webkit-linear-gradient(top, #ffffff, #dcebf4);
  background-image: -o-linear-gradient(top, #ffffff, #dcebf4);
  background-image: linear-gradient(top, #ffffff, #dcebf4);
  background-repeat: repeat-x;
  border: 1px solid #7CA1D2;
  margin-right: -1px;
  overflow: hidden;
}
#tab-container li.selected-alt {
  background: #f6fbfd;
  background-image: -moz-linear-gradient(top, #ddecf4, #f6fbfd);
  background-image: -ms-linear-gradient(top, #ddecf4, #f6fbfd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ddecf4), to(#f6fbfd));
  background-image: -webkit-linear-gradient(top, #ddecf4, #f6fbfd);
  background-image: -o-linear-gradient(top, #ddecf4, #f6fbfd);
  background-image: linear-gradient(top, #ddecf4, #f6fbfd);
}
#tab-container li.selected {
  background: #ffffff;
}
#tab-container a {
  font-size: 13px;
  line-height: 28px;
  padding: 0 10px;
  color: #656565;
  font-weight: bold;
  text-decoration: none;
  display: block;
}
#tab-container .x-closebutton {
  padding: 7px 5px;
  margin-left: -13px;
  line-height: 13px;
}
#tabs a {
  padding-right: 20px;
}
#tab-container-split {
  float: left;
  width: 10px;
  height: 30px;
}
#tabs li.selected {
  border-bottom-color: #ffffff;
}
#tabs-more {
  float: right;
}
#tabs-more a {
  padding: 0 5px;
}
#sidebar {
  background: #f8f8f8;
  border-right: 1px solid #ddd;
  padding: 5px;
  float: left;
}
#sidebar-toolbar {
  border-top: 1px solid #ddd;
  margin-top: 10px;
}
#doctree .x-treeview {
  height: 100%;
}
#containers {
  margin: 5px;
  float: left;
}
#splitter {
  top: auto;
  bottom: 0;
}
.container {
  border: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
#mask {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
}
.docplus-index-highlight a {
  color: red!important;
}
.x-suggest {
  margin: 0 4px;
  width: 186px;
  padding: 0;
}
.x-suggest .x-listbox-hover,
.x-suggest .x-listbox-item:hover {
  background: #FFFFAA;
  color: #995F5F;
}
.x-suggest .x-listbox-item {
  border-bottom: 1px solid #BFBFBF;
  cursor: pointer;
}
.x-suggest .x-listbox-last {
  border-bottom: none;
  text-align: right;
}
