




/*全局*/

body {
    font-family: 'Microsoft YaHei';
}

/*顶部*/

#header {
    background: url(../images/banner.png) no-repeat center center;
    height: 434px;
}

#header, #body {
    text-align: center;
}

#header h1 {
    padding-top: 70px;
    margin: 0;
}

#header h2 {
    color: #4A0000;
    font-size: 40px;
}

#header h3 {
    color: #713E17;
}

.side-nav  {
	position: fixed;
	_position: absolute;
	right: 100px;
	top: 100px;
	background: url(../images/side-nav-bg.png) no-repeat right bottom;
	padding-bottom: 16px;
}

.side-nav a{
	border: 1px solid #FFE8B1;
	border-bottom-color: #EABC45;
	display: block;
	color: #DF5E28;
	padding: 8px 28px;
	background: #FFDE8F;
	font-size: 14px;
	text-decoration: none;
}

.buttons {
    padding-top: 30px;
}

a.button {
    background: url(../images/button.png);
    width: 224px;
    height: 63px;
    line-height: 59px;
    display: inline-block;
    color: #6A1818;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}

a.button-short {
    background: url(../images/button-short.png);
    width: 193px;
}

#forkmeongithub {
	position: absolute;
	top: 0;
	right: 0;
}

/*支持*/

.support {
    background: url(../images/header-bg.png) repeat-x left top;
    height: 79px;
    font-size: 14px;
    line-height: 79px;
}

.support img {
    vertical-align: middle;
}

#body h2 a{
    color: #333;
    text-decoration: none;
}

/*特性*/

.features {
    background: #F6F6F6;
}

.features .block {
    background: #FFFFFF;
    width: 217px;
    margin: 0 auto;
    padding-top: 10px;
}

.summary {
    background: url(../images/feature-arrow.png) no-repeat center top;
}

.summary h4 {
    padding-top: 30px;
    margin: 0;
}

.summary p {
    height: 78px;
    margin: 0;
    padding: 25px 10px 0;
    text-align: left;
}

.line {
    height: 6px;
    border-top: 1px solid #e4e4e4;
    margin-top: 60px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 60px;
}

.examples {
    margin-bottom: 40px;
}

.examples h4 {
    margin: 0;
}

.examples h4 a{
    color: #333;
    text-decoration: none;
}

.examples .x-grid {
    margin-bottom: 20px;
}

.examples .x-thumbnail {
    width: 216px;
    height: 160px;
}

.links {
    margin-top: 60px;
    padding-bottom: 66px;
    text-align: left;
    background: #F6F6F6;
    border-top: 1px solid #E4E4E4;
}

.text, .text a {
    color: #91959A;
}

.nav {
    margin-top: 38px;
    font-size: 14px;
    margin-bottom: 35px;
    color: #D4D4D4;
}

.nav a {
    color: #A3A3A3;
}

.nav a.selected {
    font-weight: bold;
    color: #353535;
}

h2 {
    font-size: 24px;
    margin-top: 30px;
}

h3 {
    font-size: 18px;
}



