/*********************************************************
 * This file is created by a tool at 2012/10/31 13:46
 *********************************************************
 * Contains: 
 *     Modules.Web.Footer
 *     Modules.Web.Topbar
 *     Controls.Display.Thumbnail
 *     Controls.Layout.Grid
 *     Controls.Core.Common
 *     Controls.Core.Base
 *     Controls.Button.Button
 ********************************************************/


/*********************************************************
 * Modules.Web.Footer
 ********************************************************/
/** * @author  */#footer {
  background: #1C1C1C;
  height: 90px;
  border-top: 2px solid #C5C5C5;
  padding-top: 10px;
}
#footer,
#footer a {
  color: #8e8a8a;
}

/*********************************************************
 * Modules.Web.Topbar
 ********************************************************/
#topbar {
  height: 40px;
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #212121, #121212);
  background-image: -ms-linear-gradient(top, #212121, #121212);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#212121), to(#121212));
  background-image: -webkit-linear-gradient(top, #212121, #121212);
  background-image: -o-linear-gradient(top, #212121, #121212);
  background-image: linear-gradient(top, #212121, #121212);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#212121', endColorstr='#121212', GradientType=0);
  background: #1C1C1C;
}
#topbar h1 {
  font-size: 20px;
  line-height: 40px;
  margin: 0 10px 0 0;
}
#topbar li {
  float: left;
  text-align: center;
}
#topbar a,
#topbar span {
  color: #CCCCCC;
  line-height: 20px;
  font-size: 14px;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}
#topbar .selcted,
#topbar a:hover {
  color: #ffffff;
}

/*********************************************************
 * Controls.Display.Thumbnail
 ********************************************************/
.x-thumbnail {
  display: inline-block;
  *display: inline;
  padding: 4px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}
a.x-thumbnail:hover {
  border-color: #0088cc;
  -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.x-thumbnail img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*********************************************************
 * Controls.Layout.Grid
 ********************************************************/
.x-grid {
  margin-top: 10px;
  *zoom: 1;
}
.x-grid:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.x-col {
  float: left;
  margin-left: 16px;
}
.x-container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.x-container:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.x-col-1 {
  width: 67px;
}
.x-col-2 {
  width: 150px;
}
.x-col-3 {
  width: 233px;
}
.x-col-4 {
  width: 316px;
}
.x-col-5 {
  width: 399px;
}
.x-col-6 {
  width: 482px;
}
.x-col-7 {
  width: 565px;
}
.x-col-8 {
  width: 648px;
}
.x-col-9 {
  width: 731px;
}
.x-col-10 {
  width: 814px;
}
.x-col-11 {
  width: 897px;
}
.x-col-12 {
  width: 980px;
}
.x-col-first,
.x-col:first-child {
  margin-left: 0;
}

/*********************************************************
 * Controls.Core.Common
 ********************************************************/
html .x-left {
  float: left;
}
html .x-right {
  float: right;
}
html .x-left,
html .x-right {
  _display: inline;
}
html .x-middle {
  vertical-align: middle;
}
.x-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
html .x-relative,
html div.x-relative {
  position: relative;
}
html .x-absolute,
html div.x-absolute {
  position: absolute;
}
html .x-inline {
  display: inline;
}
html .x-block {
  display: block;
}
html .x-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html .x-hide,
html div.x-hide {
  display: none;
}
html .x-plain,
html div.x-plain {
  margin: 0;
  padding: 0;
}
.x-break-word {
  word-wrap: break-word;
  word-break: break-all;
}
.x-clear {
  *zoom: 1;
}
.x-clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
html .x-hint,
html .x-hint a {
  color: #999999;
}
.x-highlight {
  color: #ff6600 !important;
}
.x-info {
  color: #3a87ad !important;
}
.x-warning {
  color: #c09853 !important;
}
.x-error {
  color: #b94a48 !important;
}
.x-success {
  color: #468847 !important;
}
html .x-row,
html div.x-row {
  margin-bottom: 10px;
}
.x-blank {
  height: 10px;
  display: block;
  visibility: hidden;
  color: #ffffff;
}
.x-debug {
  background: #C03!important;
  color: #fff!important;
}

/*********************************************************
 * Controls.Core.Base
 ********************************************************/
/**
 * J+ Library, 4
 * @projectDescription jPlusUI: 简单灵活的 JS UI 组件库。
 * @copyright 2011-2012 J+ Team
 * @license The BSD License
 * @author xuld
 */
html,
body,
form,
object,
iframe,
img,
pre,
ul,
li {
  margin: 0;
  padding: 0;
}
html,
body,
a img {
  border: 0;
}
ul,
li {
  list-style-type: none;
}
ol li {
  list-style-type: decimal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}
th,
td {
  padding: 0;
  border: 0;
}
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: middle;
}
button,
select,
textarea {
  margin: 0;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
  vertical-align: baseline;
  *vertical-align: top;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
body {
  font-family: Tahoma, Arial, "宋体";
  font-size: 12px;
  line-height: 18px;
  color: #333333;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
a:focus {
  outline-offset: -2px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}
h1,
h2,
h3 {
  margin: 10px 0;
  line-height: 36px;
}
h4,
h5,
h6 {
  margin: 0;
  line-height: 18px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3,
h1 small {
  font-size: 24px;
}
h4,
h2 small {
  font-size: 18px;
}
h5,
h3 small {
  font-size: 14px;
}
h6,
h4 small {
  font-size: 12px;
}
p {
  margin: 8px 0;
}
p small {
  color: #999999;
}

/*********************************************************
 * Controls.Button.Button
 ********************************************************/
.x-button {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  *margin-left: .3em;
}
.x-button:hover,
.x-button:active,
.x-button.x-button-actived {
  background-color: #e6e6e6;
}
.x-button:active,
.x-button.x-button-actived {
  background-color: #cccccc \9;
}
.x-button:first-child {
  *margin-left: 0;
}
.x-button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
a.x-button {
  cursor: pointer;
}
button.x-button:focus,
input.x-button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.x-button:focus {
  outline-offset: -2px;
}
.x-button:active,
.x-button-actived {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.x-button[disabled],
.x-button-disabled {
  cursor: default;
  background-image: none;
  background-color: #eeeeee !important;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.x-button-large {
  padding: 9px 14px;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.x-button-small {
  padding: 2px 9px;
  font-size: 10px;
}
.x-button-smallest {
  padding: 1px 6px;
  font-size: 10px;
  line-height: 14px;
}
.x-button-highlight,
.x-button-highlight:hover,
.x-button-warning,
.x-button-warning:hover,
.x-button-error,
.x-button-error:hover,
.x-button-success,
.x-button-success:hover,
.x-button-info,
.x-button-info:hover,
.x-button-inverse,
.x-button-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.x-button-highlight {
  background-color: #4a9bca;
  background-image: -moz-linear-gradient(top, #4aacca, #4a81ca);
  background-image: -ms-linear-gradient(top, #4aacca, #4a81ca);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4aacca), to(#4a81ca));
  background-image: -webkit-linear-gradient(top, #4aacca, #4a81ca);
  background-image: -o-linear-gradient(top, #4aacca, #4a81ca);
  background-image: linear-gradient(top, #4aacca, #4a81ca);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4aacca', endColorstr='#4a81ca', GradientType=0);
  border-color: #4a81ca #4a81ca #2d5c9a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.x-button-highlight:hover,
.x-button-highlight:active,
.x-button-highlight.x-button-actived {
  background-color: #4a81ca;
}
.x-button-highlight:active,
.x-button-highlight.x-button-actived {
  background-color: #3368ae \9;
}
.x-button-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.x-button-warning:hover,
.x-button-warning:active,
.x-button-warning.x-button-actived {
  background-color: #f89406;
}
.x-button-warning:active,
.x-button-warning.x-button-actived {
  background-color: #c67605 \9;
}
.x-button-error {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.x-button-error:hover,
.x-button-error:active,
.x-button-error.x-button-actived {
  background-color: #bd362f;
}
.x-button-error:active,
.x-button-error.x-button-actived {
  background-color: #942a25 \9;
}
.x-button-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.x-button-success:hover,
.x-button-success:active,
.x-button-success.x-button-actived {
  background-color: #51a351;
}
.x-button-success:active,
.x-button-success.x-button-actived {
  background-color: #408140 \9;
}
.x-button-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.x-button-info:hover,
.x-button-info:active,
.x-button-info.x-button-actived {
  background-color: #2f96b4;
}
.x-button-info:active,
.x-button-info.x-button-actived {
  background-color: #24748c \9;
}
.x-button-inverse {
  background-color: #393939;
  background-image: -moz-linear-gradient(top, #454545, #262626);
  background-image: -ms-linear-gradient(top, #454545, #262626);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#262626));
  background-image: -webkit-linear-gradient(top, #454545, #262626);
  background-image: -o-linear-gradient(top, #454545, #262626);
  background-image: linear-gradient(top, #454545, #262626);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#262626', GradientType=0);
  border-color: #262626 #262626 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.x-button-inverse:hover,
.x-button-inverse:active,
.x-button-inverse.x-button-actived {
  background-color: #262626;
}
.x-button-inverse:active,
.x-button-inverse.x-button-actived {
  background-color: #0c0c0c \9;
}
button.x-button,
input.x-button {
  *padding: 4px 5px 0;
}
button.x-button-large,
input.x-button-large {
  *padding-top: 7px;
  *padding-bottom: 5px;
}
button.x-button-small,
input.x-button-small {
  *padding-top: 1px;
}
.x-button-plain {
  background: none;
  border-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.x-button-fixed {
  padding-left: 20px;
  padding-right: 20px;
}
