

.list li{
    list-style: disc inside;
    color: #E2E2EB;
    font-size: 14px;
    line-height: 21px;
    height: 23px;
    overflow: hidden;
}

.list small {
    color: #999999;
}

.current, article.demo a:focus {
    -webkit-text-shadow: 0 0 1px #0088CC;
    text-shadow: 0 0 1px #0088CC;
}

.textbox-category {
    width: 100px;
}

.textbox-name {
    width: 120px;
}

html a.status-compact {
    font-style: italic;
}

html a.status-complete {
    font-weight: bold;
}

html a.status-obsolete {
    text-decoration: line-through;
}

html a.status-develop {
    text-decoration: underline;
}

html a.status-obsolete, html a.status-plan {
    color: #999;
}

tr.alt {
	background-color: #f0f0f0;	
}

.x-table td{
	word-break: break-all;
}