



.libs-category, .res-category {
	width: 80px;	
}

.libs-summary, .res-summary {
    width: 116px;   
}


tr.alt {
	background-color: #f0f0f0;	
}

.x-table td{
	word-break: break-all;
}

.removed {
	text-decoration: line-through;	
}

.italic {
	font-style: italic;
}

.strong {
	font-weight: bold;
}


.goto {
	border: 1px solid #dddddd;
	border-radius: 4px;
	padding: 4px;
}