

.namespace {
	margin-bottom: 10px;
}

a.link  {
	color: #333333;	
}

.namespace li{
	margin: 5px 0;	
}

.source {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}

.refs {
	padding-left: 10px;
	border-left: 3px solid #ddd;
	margin-left: 10px;
	margin-top: 10px;
}



.large {
	width: 400px;	
}

#namespaces {
	padding-left: 40px;	
}

#toolbar {
	text-align: right;	
}

#content {
    float: left;
    margin-left: 10px;
}


.button-label {
	background: #eeeeee;
	border-top: 1px solid #DDDDDD;	
	padding: 10px 40px;
}


.name {
	line-height:  28px;	
}