@import "../../../Core/assets/less/variables.less";
@import "../../../Core/assets/less/mixins.less";



// Base x-tipbox styles
.x-tipbox {
    padding: 5px 14px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    border-width: 1px;
    border-style: solid;
    .border-radius(4px);
    display: inline-block;
    vertical-align: middle;
}

div.x-tipbox {
    display: block;
}

.x-tipbox, .x-tipbox-heading {
    color: @warningTextColor;
}

// Adjust close link position
.x-tipbox .x-close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 18px;
}

// Alternate styles
// ----------------

.x-tipbox-success, .x-tipbox-error, .x-tipbox-info {
    background-repeat: no-repeat;
    background-position: 8px 50%;
    padding-left: 30px;
}

.x-tipbox-success {
    background-color: @successBackgroundColor;
    border-color: @successBorderColor;
    color: @successTextColor;
    background-image: url(../images/success.png);
}

.x-tipbox-warning {
    background-color: @warningBackgroundColor;
    border-color: @warningBorderColor;
    color: @warningTextColor;
}

.x-tipbox-error {
    background-color: @errorBackgroundColor;
    border-color: @errorBorderColor;
    color: @errorTextColor;
    background-image: url(../images/error.png);
}

.x-tipbox-info {
    background-color: @infoBackgroundColor;
    border-color: @infoBorderColor;
    color: @infoTextColor;
    background-image: url(../images/info.png);
}


.x-tipbox-plain {
    background-color: transparent;
    border-color: transparent;
}
