/**
 * @author  xuld
 */
/***************** 基本 ****************/
body {
  margin: 0;
  padding: 0;
}
article.demo,
aside.demo,
footer.demo,
header.demo,
hgroup.demo,
nav.demo,
section.demo {
  display: block;
}
article.demo {
  margin-bottom: 60px;
}
section.demo {
  margin-bottom: 30px;
}
aside.demo {
  margin-bottom: 10px;
}
h1.demo,
h2.demo,
h3.demo,
h4.demo,
h5.demo,
h6.demo {
  font-family: 'Microsoft YaHei', 'Segoe UI', Verdana, Arial;
  margin: 10px 0;
  font-weight: bold;
}
h1.demo small,
h2.demo small,
h3.demo small,
h4.demo small,
h5.demo small,
h6.demo small {
  font-size: 12px;
  margin-left: 10px;
  color: #999999;
  font-weight: normal;
}
h1.demo {
  color: #3F529C;
  font-size: 30px;
  line-height: 30px;
}
h2.demo {
  color: #333333;
  font-size: 20px;
  line-height: 20px;
  margin: 25px 0;
}
h3.demo {
  color: #333333;
  font-size: 16px;
  line-height: 16px;
}
h4.demo {
  font-size: 14px;
  line-height: 14px;
}
h5.demo {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}
h6.demo {
  font-size: 10px;
  line-height: 18px;
  margin: 0;
}
a.demo {
  color: #0088CC;
  text-decoration: none;
}
a.demo:hover {
  color: #005580;
  text-decoration: underline;
}
hr.demo {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #E5E5E5;
  border-color: #e5e5e5 -moz-use-text-color -moz-use-text-color;
  border-right: 0 none;
  border-style: solid none none;
  border-width: 1px 0 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  height: 0;
  line-height: 0;
  margin: 12px 0;
}
table.demo {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: auto;
  min-width: 300px;
}
table.demo th,
table.demo td {
  border: 0;
  border-bottom: 1px solid #DDDDDD;
  line-height: 18px;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}
table.demo th,
table.demo thead {
  background-color: #F1F1F1;
  color: #707070;
  padding: 3px 8px;
}
table.demo tr:hover {
  background-color: #F3F3F3;
}
table.demo p {
  margin: 0;
}
table.demo th,
table.demo td {
  border: 1px solid #ddd;
  padding: 5px;
}
dl.demo dt {
  font-weight: bold;
  margin-top: 9px;
}
dl.demo dd {
  margin-left: 20px;
}
p.demo {
  margin: 8px 0 16px;
}
blockquote.demo {
  border: 2px solid #ddd;
  padding: 10px;
  margin: 10px 0;
}
ol.demo,
ul.demo {
  margin: 0 0 9px 25px;
  padding: 0;
  line-height: 18px;
}
ul.demo li {
  list-style-type: disc;
}
ol.demo li {
  list-style-type: decimal;
}
code.demo {
  font-family: "Courier New", Menlo, Monaco, monospace;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 4px;
  color: #1e347b;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
img.demo {
  text-align: center;
}
a img.demo {
  border: 0;
}
div.demo,
span.demo {
  font-size: 12px;
}
/*************** 语法高亮 ***************/
.sh {
  border: 1px solid #e1e1e8;
  display: block;
  margin: 9px 0;
  white-space: pre;
  background-color: #F7F7F7;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  word-break: break-all;
  overflow: auto;
}
.sh,
.sh-code,
.sh-textarea,
.sh-linenumbers li {
  line-height: 18px;
  font-size: 12px;
  font-family: "Courier New", Menlo, Monaco, monospace;
}
.sh-code,
.sh-textarea {
  display: inline-block;
  padding: 5px;
  margin: 0;
  background-color: #F7F7F7;
}
.sh-textarea {
  resize: none;
  overflow: hidden;
  border: none;
}
.sh-linenumbers {
  float: left;
  margin: 0;
  width: 0;
  *width: auto;
  /* IE6/7  如果 设置了width=0 ，肯能导致列表丢失。 */

  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-right: 1px solid #ececf0;
  padding: 5px 0 5px 50px;
  background-color: #FFFFFE;
}
.sh-linenumbers li {
  list-style-type: decimal;
  color: #BEBEC5;
  text-shadow: 0 1px 0 #fff;
  /* *font-size: 12px;
	    *padding-top: 2px;
	    *padding-bottom: 1px; */

}
/* 语法 */
.sh-comment {
  color: #93a1a1;
}
.sh-literal {
  color: #195f91;
}
.sh-punctuation,
.sh-leftbracket,
.sh-rightbracket {
  color: #93a1a1;
}
.sh-function {
  color: #dc322f;
}
.sh-string,
.sh-attrvalue {
  color: #D14;
}
.sh-keyword,
.sh-tag {
  color: #1e347b;
}
.sh-type,
.sh-attrname,
.sh-declaration,
.sh-var {
  color: teal;
}
.sh-plain {
  color: #48484c;
}
/***************** 工具 ****************/
.demo-inline {
  display: inline;
}
.demo-block {
  display: block;
}
.demo-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.demo-hide {
  display: none;
}
.demo-left {
  float: left;
}
.demo-right {
  float: right;
}
.demo-clear,
.demo-grid {
  *zoom: 1;
}
.demo-clear:after,
.demo-grid:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.demo-grid h2.demo {
  margin-bottom: 14px;
}
article.demo-grid {
  margin-bottom: 20px;
}
.demo-grid section.demo {
  float: left;
  margin-right: 30px;
}
.demo-grid-5 section.demo {
  width: 186px;
  margin-right: 10px;
}
.demo-grid-4 section.demo {
  width: 233px;
  margin-right: 10px;
}
.demo-grid-3 section.demo {
  width: 243px;
  margin-right: 10px;
}
.demo-grid-2 section.demo {
  width: 460px;
  margin-right: 10px;
}
.demo-absolute {
  position: absolute;
}
.demo-relative {
  position: relative;
}
.demo-box,
.demo-box-small,
.demo-box-large {
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  line-height: 80px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background-color: #E95C41;
  color: #ffffff;
  vertical-align: top;
}
.demo-box-small {
  height: 40px;
  width: 40px;
  line-height: 40px;
}
.demo-box-large {
  height: 200px;
  width: 200px;
  line-height: 200px;
}
.demo-container,
.demo-area {
  position: relative;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.demo-container {
  display: inline-block;
  padding: 10px;
}
.demo-area {
  height: 200px;
  width: 400px;
  line-height: 200px;
  text-align: center;
}
.demo-row {
  margin-bottom: 10px;
}
.demo-plain {
  margin: 0;
  padding: 0;
}
/*// 字体

.demo-strong {
	font-weight: bold;
}

.demo-underline {
	text-decoration: underline;
}

.demo-italic {
	font-style: italic;
}

.demo-small {
	font-size: x-small;
}

.demo-large {
	font-size: x-large;
}*/
.demo-white,
.demo-c0 {
  background-color: #ffffff;
  color: #000000;
}
.demo-red,
.demo-c1 {
  background-color: #9d261d;
}
.demo-orange,
.demo-c2 {
  background-color: #f89406;
  color: #000000;
}
.demo-yellow,
.demo-c3 {
  background-color: #ffc40d;
}
.demo-green,
.demo-c4 {
  background-color: #B4B900;
}
.demo-indigo,
.demo-c5 {
  background-color: #90D9E8;
  color: #000000;
}
.demo-blue,
.demo-c6 {
  background-color: #285A8F;
}
.demo-purple,
.demo-c7 {
  background-color: #B05A89;
}
.demo-black,
.demo-c8 {
  background-color: #000000;
}
/***************** 组件 ****************/
/*.demo-nav {
    .aside();
    font-size: 12px;
    line-height: 18px;

    ul {
        margin: 10px 0;
        padding: 0;
    }

    li {
        list-style: none;
    }
}*/
.demo-viewsource {
  margin-bottom: 20px;
  font-size: 12px;
}
.demo-viewsource .sh {
  margin-bottom: 30px;
}
.demo-viewsource-arrow {
  float: left;
  font-size: 20px;
  line-height: 12px;
  margin-right: 1px;
}
.demo-tip,
.demo-tip-error,
.demo-tip-warning,
.demo-tip-success {
  padding: 2px 10px;
  margin: 2px 0;
  line-height: 16px;
  border: 2px solid transparent;
  *border: 2px solid #ffffff;
  clear: both;
}
.demo-tip-error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4;
}
.demo-tip-error a.demo {
  color: #8a1f11;
}
.demo-tip-warning {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324;
}
.demo-tip-warning a.demo {
  color: #514721;
}
.demo-tip-success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
}
.demo-tip-success a.demo {
  color: #264409;
}
.demo-tip .demo-right {
  display: none;
}
.demo-tip-hover {
  background: #eee;
}
.demo-tip-hover .demo-right {
  display: block;
}
/*.demo-testcases {
	font-size: 12px;
}*/
.demo-questions li {
  list-style: none;
  line-height: 24px;
  font-size: 14px;
}
.demo-questions input {
  vertical-align: -1px;
}
header.demo,
article.demo,
footer.demo {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.demo-fullscreen header.demo,
.demo-fullscreen article.demo,
.demo-fullscreen footer.demo {
  width: 100%;
}
.demo-fullscreen header.demo h1,
.demo-fullscreen header.demo hr,
.demo-fullscreen header.demo .demo-nav {
  display: none;
}
#demo-topbar {
  line-height: 26px;
  height: 11px;
  position: relative;
  font-family: 'Microsoft YaHei', 'Segoe UI', Verdana, Arial;
}
#demo-topbar a {
  color: #333333;
  text-decoration: none;
}
.demo-toolbar {
  float: right;
  font-size: 12px;
  color: #999999;
}
.demo-toolbar a:hover {
  text-decoration: underline!important;
}
.demo-toolbar-dropdown {
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 26px;
  border: 1px solid #9B9B9B;
  -moz-box-shadow: 1px 1px 2px #CCCCCC;
  -webkit-box-shadow: 1px 1px 2px #CCCCCC;
  box-shadow: 1px 1px 2px #CCCCCC;
  z-index: 99999;
  background-color: #FFFFFF;
}
.demo-toolbar-dropdown-menu a {
  -moz-user-select: none;
  cursor: pointer;
  display: block;
  overflow: hidden;
  padding-left: 6px;
  padding-right: 6px;
}
.demo-toolbar-dropdown-menu a:hover {
  background-color: #EBEBEB;
}
.demo-toolbar-dropdown-seperator {
  border-top: 1px solid #EBEBEB;
}
#demo-topbar-tool {
  right: 55px;
}
#demo-topbar-doc {
  right: 77px;
}
#demo-topbar-controlstate {
  padding: 5px;
  *width: 260px;
}
#demo-topbar-controlstate input {
  vertical-align: -2px;
}
#demo-topbar-controlstate form {
  *margin-bottom: 0;
}
.demo-toolbar-dropdown-input {
  width: 193px;
}
#demo-topbar-goto {
  width: 250px;
}
#demo-topbar-goto input {
  width: 240px;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid #9B9B9B;
}
#demo-topbar-goto .demo-toolbar-dropdown-menu {
  _height: 300px;
  _width: 250px;
  word-break: break-all;
  max-height: 300px;
  overflow: auto;
}
