/**
 * @author 
 */
.x-tabbable {
  border-bottom: 1px solid #ddd;
  margin: 0;
  *zoom: 1;
}
.x-tabbable:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.x-tabbable-item {
  margin: 0 0 -1px;
  list-style: none;
  float: left;
}
.x-tabbable-item a {
  display: block;
  border: 1px solid transparent;
  _border-color: white;
  _filter: chroma(color=#ffffff);
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  padding: 7px 12px;
  text-decoration: none;
}
.x-tabbable-item a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
  background-color: #eeeeee;
}
.x-tabbable-selected a,
.x-tabbable-selected a:hover {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  _border-bottom-color: white;
  _filter: chroma(color=#ffffff);
  cursor: default;
}
.x-tabbable-alt {
  border-bottom: none;
}
.x-tabbable-alt .x-tabbable-item a,
.x-tabbable-alt .x-tabbable-item a:hover {
  border-color: transparent;
  _border-color: white;
}
.x-tabbable-alt .x-tabbable-item a {
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.x-tabbable-alt .x-tabbable-selected a,
.x-tabbable-alt .x-tabbable-selected a:hover {
  color: #ffffff;
  background-color: #0088cc;
}
